@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .color-change-hover {
        @apply relative inline-block;
        background-image: linear-gradient(to right, #fc9a72, #ecb386, #c2b2ad, #97b0d7);
        background-clip: text;
        -webkit-background-clip: text;

        transition: color 0.3s ease;
    }
    .color-change-hover:hover {
        color: transparent;
    }
}
