@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .color-change-hover {
        @apply relative inline-block;
        background-image: linear-gradient(to right, #fc9a72, #ecb386, #c2b2ad, #97b0d7);
        background-clip: text;
        -webkit-background-clip: text;

        transition: color 0.3s ease;
    }
    .color-change-hover:hover {
        color: transparent;
    }
}

@font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url("/fonts/Pretendard-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Pretendard", sans-serif;
}
